.header {
    margin: 20px 0;
}

.auth__tabs {
    margin-bottom: 20px;
}

.modal__controls {
    margin-top: 20px;
}

.filter__wrapper {
    padding: 25px 0;
    min-height: 20px;
}

.parts__add {
    margin: 20px 0;
}

.parts__list {
    padding: 15px;
    border: 1px #000 solid;
    min-height: 50px;
    margin-bottom: 20px;
}
